* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

p {
     font-family: Futura;
   }


h1 {
     font-family: Futura;
     font-size: 100px;
     font-weight: lighter;
     color: #ffffff;
   }

h2 {
    font-family: Futura;
    font-weight: lighter;
   }

h3 {


}

.background {
  padding: 500 500;
  background-image: url("images/boys.jpg");
}

.header {
  padding-top: 225px;
  padding-bottom: 200px;
  background-color: rgb(8, 69, 76);
  text-align: center;
}

.sub-header {
   color: #1E0749;
   font-size: 30px;
}

.section {
  color: rgb(8, 69, 76);
  background-color: #ffff;
  padding: 200px 200px;
}

.navigation {
  color: #ffffff;
  font-family: Futura;
  font-weight: lighter;
  font-size: 15px;
  padding-top: 50px;
}

.navigation a {
  font-family: Myriad;
  font-size: 30px
  color:rgb(102, 0, 51);
  padding: 2px 10px;
  text-decoration: none;
}

.navigation a:hover {
  font-family: Myriad;
  font-size: 30px
  color: red;
  background-color: rgb(102, 0, 51);
  padding: 2px 2px;
}

.paragraph {
  font-family: Dosis, sans-serif;
  padding-top: 50px;
}

.uppercase {
  text-transform: uppercase;
}
