p {
     font-family: Futura;
   }

.uppercase {
  text-transform: uppercase;
}

h1 {
     font-family: Futura;
     font-size: 75px;
     font-weight: lighter;
     text-align: center;
     line-height: 50%;
     color: rgb(102, 0, 51);
   }

h2 {
    font-family: Futura;
    font-weight: lighter;
    text-align: center;
    line-height: 50%;
   }

.header {
  background: rgb(63, 189, 211);
  padding-bottom: 50px;
  padding-top: 50px;
}

.sub-header {
  color: white;
}
